nav {
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid pink;
    margin-bottom: 1rem;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    color: rgb(50, 50, 50);
    text-shadow: 1px 1px 3px darkgrey;
}

a:hover {
    color:pink;
}

.nav-link {
    color: #495057;
    display: inline-flex;
    font-family: 'Patrick Hand', cursive;
    text-shadow: 1px 1px 1px rgb(212, 212, 212);
}

.nav-link:hover {
    color: lightskyblue;
}