.form-control {
    border-bottom: 2px solid lightskyblue;
    border-radius: .1rem;
    color: 495057;
    font-family: 'Shadows Into Light Two', cursive;
    margin: auto;
}

.form-control:focus {
    color: navy;
}

.btn {
    color: rgb(50, 50, 50);
    background-color: lightskyblue;
    border-radius: .1rem;
    font-family: 'Patrick Hand', cursive;
}

.btn:hover {
    background-color: pink;
}

label {
    color: #495057;
    font-family: 'Patrick Hand', cursive;
    margin-left: .2rem;
    margin-bottom: .1rem;
}

div {
    margin: auto;
}